# Node modules
node_modules/

# Environment variables
.env

# Log files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by testing tools
coverage/

# Build output
dist/
build/

# Vercel or other deployment folders
.vercel/
